store/*/

.env
setenv
logs
nginx.conf.compiled

.htpasswd

client_body_temp
fastcgi_temp
proxy_temp
scgi_temp
uwsgi_temp

# Certificates and keys
certs/*
!certs/README.md
!certs/lets-encrypt*
*.cert
*.cer
*.key
*.csr

.*.swp
.*.swo
.swp
.swo
