[submodule "snap"]
	path = snap
	url = git://github.com/jmoenig/snap.git
[submodule "site"]
	path = site
	url = git://github.com/snap-cloud/SnapSite.git
[submodule "lib/raven-lua"]
	path = lib/raven-lua
	url = git://github.com/snap-cloud/raven-lua.git
