store/*/

torbulkexitlist

.env
setenv
logs
tmp/*
nginx.conf.compiled

.htpasswd

# Certificates and keys
certs/*
!certs/README.md
!certs/lets-encrypt*
*.cert
*.cer
*.key
*.csr

# Useful for serving temporary files
# Location for LetsEncrypt challenge files.
html/

# Snap! Versions on the public site.
# We expect you'll likely want to symlink a local snap instance to ./snap/
# On the server we maintain a checkout of the Snap! repo, but dont want to use
# submodules.
snap
snap-versions/
!snap-versions/README.md

# Temporary: The old static snap site:
old_site

# Snap dev version, untracked
dev

.*.swp
.*.swo
.swp
.swo

# TOTM banners are fed to the site from the frontend. We don't need to store
# them anymore.
static/img/totm.png

# local JS tools
node_modules/
