[submodule "snap"]
	path = snap
	url = git://github.com/jmoenig/Snap--Build-Your-Own-Blocks.git
[submodule "site"]
	path = site
	url = git://github.com/bromagosa/SnapSite.git
[submodule "lib/raven-lua"]
	path = lib/raven-lua
	url = git://github.com/cloudflare/raven-lua.git
