.ips .ip,
.user_admin .user {
    padding: 0.5em;
    box-sizing: border-box;
}

.ip .details {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    border: 1px solid #AAAAAA;
}

.ip .details.count-3 {
    overflow: hidden;
    border: 1px solid rgba(255,0,0,0.3);
    opacity: 0.75;
}

.ip .details.count-3:before {
    position: absolute;
    content: '';
    background: rgba(255, 0, 0, 0.3);
    display: block;
    width: 115%;
    height: 26px;
    transform: rotate(-25deg);
    left: -25px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ip .details .remove {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.ips.search,
.user_admin.search {
    margin-left: 0.5em;
    width: 220px;
}

.ips.search form,
.user_admin.search form {
    position: relative;
}

.ips.search input,
.user_admin.search input {
    width: 100%;
    height: 2em;
    padding-left: 0.75em;
    padding-right: 1.75em;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #AAAAAA;
}

.ips.search i,
.user_admin.search i {
    position: absolute;
    right: 0.45em;
    top: 0.45em;
}

.paginator {
    line-height: 2em;
    margin: 0;
}

.filter select {
    margin-left: 0.5em;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

.filter select:focus {
    outline: none;
}

.admin-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
