/* Thanks to www.w3schools.com */

.slideshow,
.slide {
    box-sizing:border-box;
}

.slideshow {
    max-width: 1025px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    border-radius: 8px;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0}
    to   {opacity: 1}
}
