.bigger {
    font-size: 1.2em;
    line-height: 1.2em;
}

.indent {
    padding-left: 1.5em;
}

.bullets {
    list-style-type: disc;
}

.not-v-spaced {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.v-spaced {
    margin-top: 2em;
    margin-bottom: 2em;
}

.less-v-spaced {
    margin-top: 1em;
    margin-bottom: 1em;
}

.loader {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
    justify-content: space-between;
}

.flex > * {
    margin: 1.1em;
}

.in-place:hover {
    padding: 0 2px;
    border: 2px dashed #2d3142;
}

pre.proto-in-place,
pre.in-place {
    font-family: sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.flash {
    animation: flasher 1s linear;
}

@keyframes flasher {
    0% { background: #2d3142; }
    50% { opacity: 0.0; }
    100% {
        background: auto;
        opacity: 1;
    }
}

.warning-flash {
    animation: warning-flasher 1s linear;
}

@keyframes warning-flasher {
    0% { background: tomato; border: red; }
    50% { opacity: 0.0; }
    100% {
        background: auto;
        border: auto;
        opacity: 1;
    }
}

.bubble {
    position: relative;
    background: rgba(255, 201, 62, 0.2);
    border-radius: 2em;
    padding: 1em 1.5em;
}

.bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 44px solid transparent;
    border-right-color: rgba(255, 201, 62, 0.2);
    border-left: 0;
    border-bottom: 0;
    margin-top: -22px;
    margin-left: -44px;
}

.pure-button {
    color: #2d3142;
    background-color: #bfc0c0;
}

.pure-button-warning {
    background-color: Tomato;
}

.warning {
    color: Tomato;
}

.clickable {
    cursor: pointer;
}

.paginator {
    text-align: right;
    margin-bottom: 1em;
    font-weight: bold;
    color: #505080;
    letter-spacing: 0.15em;
}

.paginator .total-pages {
    filter: contrast(0);
}

.paginator a {
    color: #505080;
}

/* img filler because we don't have octagon in FA free edition */
.fa-octagon {
    position: relative;
}

.fa-octagon:before {
    content: '';
    position: absolute;
    left: 4px;
    top: -14px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('../img/octagon.png');
}

/* Hide Discourse's meta info on images */
.lightbox > .meta {
    display: none;
}

img.emoji {
    height: 1em;
}
