:root {
    /* --snap-dark-blue: #2d3142;
    --lighter-link-color: #7070A0;
    --dark-text-color: #102040; */
    /* These are Berkeley's 2024 brand colors. */
  --snap-dark-blue: #010133;
  --lighter-link-color: #002676;
  --dark-text-color: #010133;
}

html {
    height: 100%;
}

body {
    color: var(--snap-dark-blue);
    background: #ffffff;
    height: 100%;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--lighter-link-color);
    text-decoration: none;
}

em {
    font-style: italic;
}

p, li {
    margin: 1em 0;
}

p {
    line-height: 1.2em;
}

ul, ol {
    padding: .5em 0;
}

ol {
    list-style: decimal inside;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 1.3em;
    margin: 1em 0 .5em 0;
}

h4, .footer-heading {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background: #ffffff;
}
