html {
    height: 100%;
}

body {
    color: #2d3142;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: #7070A0;
    text-decoration: none;
}

em {
    font-style: italic;
}

p, li {
    margin: 1em 0;
}

p {
    line-height: 1.2em;
}

ul, ol {
    padding: .5em 0;
}

ol {
    list-style: decimal inside;
}

h2 {
    font-size: 1.5em;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 1.3em;
    margin: 1em 0 .5em 0;
}

h4, .footer-heading {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background: #ffffff;
}
