.project {
    margin: 0 !important;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

iframe {
    flex: 1;
}

.edit {
    color: #ffffff;
}

.clickable {
    cursor: pointer;
}

.title {
    position: absolute !important;
    left: 0.5em;
    color: #ffffff;
    font-weight: bold;
}

.author a {
    color: #7070A0;
    text-decoration: none;
}

.author a:hover {
    filter: brightness(1.2);
}
