/* This file is not used on any page which loads bootstrap! */
/* WRAPPER */
#wrapper {
    padding-top: 2em;
    width: 1080px;
    margin: 0 auto;
    flex: 1 0 auto;
}

#wrapper a:focus,
#wrapper a:hover {
    filter: brightness(1.2);
}

/* TOP BAR */

#top-bar {
    background: var(--snap-dark-blue);
    height: 48px;
    color: #ffffff;
}

#top-bar a {
    color: #ffffff;
}

#top-bar .logo {
    padding-top: 8px;
}

#top-bar .run,
#top-bar .explore {
    margin-right: 1em;
}

#top-bar .languages {
    left: auto;
    right: -1px;
}

#top-bar .language-select a::after {
    content: '';
}

#top-bar .language-select:focus,
#top-bar .language-select:hover {
    color: white;
}

#top-bar .pure-menu-item {
    vertical-align: inherit;
}

#top-bar .pure-menu ul.pure-menu-list {
    display: block;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    width: 1080px;
    margin: 0 auto;
}

#top-bar .pure-menu-link {
    padding: 0 2ch;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#top-bar .pure-menu-link:focus,
#top-bar .pure-menu-link:hover {
    color: var(--snap-dark-blue);
}

#top-bar .pure-menu ul.pure-menu-list .pure-menu-item {
    font-weight: bold;
}

#top-bar .pure-menu-horizontal .pure-menu-children {
    width: auto;
    min-width: 100%;
    background: var(--snap-dark-blue);
}

#top-bar .pure-menu-children {
    border: 1px solid #ffffff;
}

#top-bar .pure-menu-children .pure-menu-link {
    padding: 0 0.5em;
}

#top-bar .language-select .pure-menu-children {
    width: auto;
}

#top-bar .language-select .pure-menu-children a {
    padding: 0 2em;
}

#top-bar div.search {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#top-bar .search i {
    position: absolute;
    left: 5px;
    color: var(--snap-dark-blue);
    line-height: 48px;
}

#top-bar .search input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 14px;
    background: #ffffff;
    color: var(--snap-dark-blue);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.1em 0.5em 0.1em 1.5em;
    font-weight: bold;
}

/* Designed to be the last element in a section / nav
/ Makes a little "puzzle piece" connector. */
.trapezoid {
    position: relative;
    margin-left: 60px;
    border-top: 14px solid;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 64px;
    /* margin-top: -14px; */
    /* top: 14px; */
}

.trapezoid-footer {
    top: -14px;
}

/* FOOTER */

#footer {
    background: var(--snap-dark-blue);
    padding: 1em;
    color: #ffffff;
    margin-top: 3em;
    flex-shrink: 0;
    font-size: 0.75em;
}

#footer .links {
    max-width: 1080px;
    margin: 0 auto;
}

#footer .links div {
    padding: 0 1em;
    box-sizing: border-box;
}

#footer a {
    color: #ffffff;
    text-decoration: underline;
}

#footer div.credits {
    margin: 3em 0 1em 0;
    padding: 1em;
    border-top: 1px solid #ffffff;
}

#footer .credits a {
    text-decoration: none;
}

#footer .credits img {
    margin-right: 1em;
}

.ucb-logo {
    height: 30px;
    margin-right: 16px 16px 0 0; /* roughly the size of the 'e' in Berkeley */
}

/* CUSTOM ALERT */

.customalert {
    padding: 5px;
    background: var(--snap-dark-blue);
    width: auto;
    min-width: 500px;
}

.customalert .header {
    font-size: 1em;
    background: var(--snap-dark-blue);
    color: #ffffff;
    padding: 5px 0 8px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.customalert .body,
.customalert .footer {
    background: #ffffff;
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1.1em;
}

.customalert .footer {
    border-radius: 0 0 5px 5px;
}

#customAlert {
    background: var(--snap-dark-blue);
}

/* LOADING */

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f3eeeb;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* PHONES, TABLETS AND SMALL SCREENS */
@media only screen and (max-width: 1080px) {
    #wrapper {
        width: auto;
    }

    #top-bar .pure-menu ul.pure-menu-list {
        width: auto;
    }
}
