/* This sets CSS Variables which override Bootstrap's config. */
:root {
  --berkeley-blue: #003262;
  /* Historical dark color */
  --snap-dark-blue: #2d3142;
  --navbar-height: 64px;
  /* this is the minimum I think w/ all 5 columns of links */
  --estimated-footer-height: 450px;
}

nav.navbar {
  --bs-navbar-dark-color: #2d3142;
  --bs-navbar-color: #FFF;
  --bs-navbar-link-color: #FFF;
  background-color: #2d3142;
  font-weight: 600;
  padding: 0;


  /* Remove extra padding so the li elements are full-height */
  ul {
    padding: 0;
  }

  .form-control {
    border-color: #FFF;
    background-color: #FFF;
    color: #2d3142;
    margin: auto 0;
  }

  /* spacing for the toggle button */
  & .navbar-toggler {
    margin: 12px;
  }

  li {
    --bs-nav-link-padding-x: 1em;
    padding: 0.75em 0.5em;
    height: 100%;
    margin: 0;

    > a {
      color: #FFF;
    }

    &:hover,
    &:focus-within,
    .dropdown-item:hover,
    .dropdown-item:focus-within {
      background-color: #FFF;

      > a {
        color: #2d3142;
      }
    }

    .dropdown-menu {
      background-color: var(--snap-dark-blue);
      color: #FFF;
    }

    li.no-hover {
      padding: 0 0;
      background: var(--snap-dark-blue);

      & hr {
        opacity: 1;
      }
    }
  }

  .trapezoid {
    position: absolute;
    top: var(--navbar-height);
  }
}


html {
  height: 100%;
}

body {
  margin: var(--navbar-height) 0 0 0;
  color: var(--snap-dark-blue);
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* min-height: calc(100vh - var(--navbar-height) - var(--estimated-footer-height)); */
}

main {
  margin: 1em auto;
  flex: 1 0 auto;
}

.footer {
  background: var(--snap-dark-blue);
  padding: 1em;
  color: #ffffff;
  font-size: 0.75em;

  h2 {
    font-size: 1.5em;
  }

  .trapezoid-footer {
    top: -14px;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  .credits {
    margin: 2em 1em;
    padding: 1em;
    border-top: 1px solid #ffffff;

    a {
      text-decoration: none;
    }

    img {
      margin-right: 1em;
    }
  }
}

.btn-outline-primary + .form-control {
  border-color: var(--bs-primary);
}

a {
  color: var(--berkeley-blue);
  text-decoration: none;
}

em {
  font-style: italic;
}

p {
  margin: 1em 0;
}

p {
  line-height: 1.2em;
}

ol {
  list-style: decimal inside;
  padding: .5em 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0 .5em 0;
}

h3 {
  font-size: 1.3em;
  margin: 1em 0 .5em 0;
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: #ffffff;
}
